<!DOCTYPE html>
<html lang="en">

<style>
    h1 {
        margin-left: 20%;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Logged In!!</h1>
            <% if (payload.id != 0) { %>
            <h2>Email :</h2>
            <p>
                <%= payload.email %>
            </p>
            <h2>Id :</h2>
            <p>
                <%= payload.id %>
            </p>

            <% } %>
            <% if (payload.id == 0) { %>
            <h1>Please Login to continue..</h1>
            <% } %>


        </div>
    </div>
</body>

</html>