<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h2>Are you Sure you want to delete the account??</h2>
    <div class="jumbotron">
        <div class="container">
            <form action="../routes/api/profile.js/deleteUser" method="delete">
                <input type="submit" value=" YES">
                <br>
                <br>
            </form>
            <input type="submit" value="NO">
        </div>
    </div>
</body>

</html>