<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
</head>

<body>

        <h1>Hey There!!</h1>
        <br>
        <h5>User Details :</h5>

        <br>

        <p>Email : <b>
                        <%= person.email %></b>
        </p>
        <p>Age : <b>
                        <%= person.age %></b>
        </p>
        <p>Occupation : <b>
                        <%= person.occupation %></b>
        </p>

</body>

</html>