<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h3>Post Form!</h3>

    <form action="/api/posts/post" method="POST">
        <input type="text" name="title" id="">
        <input type="text" name="textArea" id="">
        <br>
        <input type="submit" value="Post">



    </form>
</body>

</html>