<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <h3>Welcome to the Test Page!!</h3>

    <form action="/api/auth/register" method="POST">

        <input type="email" name="email" id="">
        <input type="password" name="password">
        <input type="text" name="name" id="">

        <input type="submit" value="Register">

    </form>

</body>

</html>