<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Page</title>
</head>

<body>
    <h1>Register Here!</h1>

    <form action="/api/auth/register" method="POST">
        <input type="email" name="email">
        <input type="password" name="password" id="">
        <input type="text" name="name" id="">

        <input type="submit" value="Register">
    </form>

</body>

</html>