<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <h3>Hello There</h3>

    <button class="btn waves-effect waves-light" type="submit" name="action" id="clicker">Submit
        <i class="material-icons right">send</i>
    </button>
    <% var test = 101; %>
    <script>

        var getTest = <%= test  %>;  //var test is now assigned to getTest which will only work on browsers

        console.log(getTest);  // successfully prints 101 on browser

        function clicked() {
            getTest + 1
        }

    </script>



</body>

</html>